body{
		background-color: #f2f2f2;
		margin:0px;
	}
	img{
		width:50px;
		height: 50px;
	}
	table{
		border-collapse:collapse;
		margin: auto;
	}
	th{
		border-bottom:2px solid #3e62e0;
	}
	td{
		border-bottom:2px solid #3e62e0;
		width: 150px;
		text-align: center;
		background-color: white;
		font-family: 'PT Sans', sans-serif;
	}
	a{
		text-decoration: none;
		font-family: 'PT Sans', sans-serif;
		margin-left: 10px;
	}
	h1{
		margin-left: 10px;
	}