	body{
		background-color: #f2f2f2;
		margin:0px;
                min-width:850px;
	}
	img{
		width:50px;
		height: 50px;
	}
	table{
		border-collapse:collapse;
		margin: auto;
	}
	th{
		border-bottom:2px solid #3e62e0;
	}
	td{
		border-bottom:2px solid #3e62e0;
		width: 150px;
		text-align: center;
		background-color: white;
		font-family: 'PT Sans', sans-serif;
	}
	input{
		width: 50px;
	}
	input[type="submit"]{
		width: 150px;
	}
	button{
	margin-top: 10px;
	width: 150px;
}
#icon-menu{
	width:66px;
	height:48px;
}
.baskettable{
	margin-top: 150px;
}
.basketdesctiption{
	margin: auto;
	text-align: center;
	width: 260px;
}
		