body{
margin: 0px;
background-color: #f2f2f2;
min-width: 850px;
}
hr
{
width: 100%;
}
p{
font-size: 16px;
font-weight: bold;
font-family: 'PT Sans', sans-serif;
padding-left: 35px;
margin-top: 45px;
border:2px solid black;
}
button{
color: white;
background-color: #3e62e0;
outline: none;
font-size: 16px;
font-weight: bold;
font-family: 'PT Sans', sans-serif;
width: 70%;
height: 50px;
border:1px solid #3e62e0;
transition:0.3s;

}
button:hover{
background-color: #000099;
}
a{
	color:#077fcc;
text-align: center;
font-family:'PT Sans', sans-serif;
text-decoration: none;
font-size: 15px;
}
#nav-pictures{
text-align: center;
}
.content{
margin: auto;
width: 70%;
}
.mobiles{
border-top:2px solid #3e62e0;
border-bottom:2px solid #3e62e0;
display: inline-block;
margin-top: 20px;
margin-left: 15px;
width: 30%;
background-color: white;
}

.title{
margin-top: 10px;
font-size: 16px;
padding-left: 10px;
height: 40px;
font-family: 'PT Sans', sans-serif;
}
.pictures{
text-align: center;
margin-top: 10px;
}
.active{
text-align: center;
}
.catimg{
	width: 60%;
	height: 200px;
}

.feature{
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
	width: 90%;
	height: 190px;
	margin: auto;
}
.basket{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
.price{
	font-size: 16px;
	padding-left: 10px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}
