input[type="text"]{
	margin-bottom: 20px;
	width: 100%;
	height: 20px;
	font-family:'PT Sans', sans-serif;
}
body{
	margin: 0px;
	background-color: #f2f2f2;
	}
input[type="submit"]{
	font-family:'PT Sans', sans-serif;

}
select{
	margin-bottom: 20px;
	font-family:'PT Sans', sans-serif;
}
textarea{
	width: 100%;
	margin-bottom: 20px;
	height: 100px;
	font-family:'PT Sans', sans-serif;
}
a{
	text-decoration: none;
	font-family:'PT Sans', sans-serif;
}
.add{
	width: 30%;
	margin:auto;
}
h1{
	text-align: center;
	font-family:'PT Sans', sans-serif;
}