body{
margin: 0px;
background-color: #f2f2f2;
}
#nav-pictures p{
font-family: 'PT Sans', sans-serif;
text-align: center;
margin-left: -20px;
margin-top: -5px;
font-size:20px;
}
hr{
width: 500px;
}
ul{
display: none;
margin-left: 17%;
width: 30%;
min-width: 400px;
}
ul li
{
display: inline-block;
border:1px solid black;
list-style: none;
margin-left: -5px;
width:100px;
text-align: center;
font-family:'PT Sans', sans-serif; ;
border-right:1px solid black;
height: 50px;
transition:0.5s;
}

ul li a{
display: block;
color:#077fcc;
text-align: center;
font-family:'PT Sans', sans-serif;
text-decoration: none;
margin-top:15px;
}
ul li:first-child { margin-left: -15px;}
ul li:hover{
background-color: #00CCCC;
}
.nav-menu{
height: 88px;
width: 40%;
margin:auto;
min-width: 500px;
}
#icon-menu{
cursor: pointer;
}
#nav-pictures{
text-align: center;
}
.slide{
text-align: center;
margin-top: 70px;
margin-bottom: 50px;
display: none;
}
.slide-active
{
display: block;
}
	
.slide-nav{
text-align: center;
}
.pictures{
height: 300px;
}
.arrow-prev{
margin-right: 155px;
}
.arrow-next{
	margin-left: 50px;
}
.footer{
border-top: 1px solid black;
font-family: 'PT Sans', sans-serif;
font-weight: bold;
text-align: center;
margin-top: 20px;
height: 100px;
}
#welcome{
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family:'PT Sans', sans-serif; 
	margin: auto;
}