body{
background-color: #f2f2f2;
margin: 0px;
min-width:850px;
}
img{
height: 300px;
width: 300px;
}
p{
font-size: 16px;
font-family: 'PT Sans', sans-serif;
}
button{
border:2px solid #3e62e0;
color: white;
background-color: #3e62e0;
outline: none;
font-size: 16px;
font-weight: bold;
font-family: 'PT Sans', sans-serif;
width: 70%;
height: 55px;
transition:0.3s;
}
button:hover{
background-color: #000099;
border:2px solid #000099;
}
#nav-pictures{
text-align: center;
}
.basket{
	text-align: center;
	margin-top: 20px;
}
.pictures{
	margin: auto;
	margin-bottom: 20px;
	width: 400px;
	height: 500px;
	background-color: white;
	border-top:2px solid #0033CC;
	border-bottom:2px solid #0033CC;
	}
.description{
	background-color: white;
	border-top:2px solid #0033CC;
	border-bottom:2px solid #0033CC;
	}
.features{
	background-color: white;
	border-bottom:2px solid #0033CC;
	}
.image{
	text-align: center;
	}
.title{
height: 40px;
padding-left: 10px;
margin-top: 10px;
font-size: 16px;
font-family: 'PT Sans', sans-serif;
}
.price{
	padding-left: 10px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}
#icon-menu{
	width: 66px;
	height: 48px;
}