ul{
text-align: center;
margin-right:50px;
}
ul li{
display: inline-block;
border:1px solid black;
border-right:1px solid black;
margin-left: -5px;
text-align: center;
height: 50px;
width: 100px;

}
ul li a{
height: 20px;
display: block;
color:#077fcc;
text-align: center;
font-family:'PT Sans', sans-serif;
text-decoration: none;
margin-top:15px;
}
ul li:hover{
background-color: #00CCCC;
}
a{
color:#077fcc;
text-align: center;
font-family:'PT Sans', sans-serif;
text-decoration: none;
font-size: 15px;
}
#nav-pictures{
text-align: center;
}
.nav-menu{
width: 70%;
margin:auto;
min-width: 500px;}
.footer{
border-top: 1px solid black;
font-family: 'PT Sans', sans-serif;
font-weight: bold;
text-align: center;
margin-top: 50px;
height: 100px;
}
