
body{
	margin: 0px;
	background-color: #f2f2f2;
	min-width: 850px;
	}
	img{
		width: 50px;
		height: 50px;
	}
	table{
		border-collapse: collapse;
		text-align: center;

	}
	th{
		border-bottom:2px solid #3e62e0;
	}
	td{
		border-bottom:2px solid #3e62e0;
		width: 100px;
		background-color: white;
	}
	
input[type="text"]{
	margin-bottom: 20px;
	width: 100%;
	height: 20px;
	font-family:'PT Sans', sans-serif;
}
input[type="submit"]{
	font-family:'PT Sans', sans-serif;

}
p{
	color: red;
	font-weight: bold;
	font-family:'PT Sans', sans-serif;
}

#icon-menu{
	width:66px;
	height:48px;
}
.content{
	margin-top: 110px;
}
.basketgoods{
	float: right;
	margin-right: 7%;
	margin-top: 50px;

}
.orders{
	float: left;
	margin-left: 5%;
	min-width: 300px;
}
.clearfix{
	clear: both;
	height: 0px;
}
