<?
$this->headLink(array('rel' => 'stylesheet', 'href' => '/css/addstyle.css'))
     ->appendStylesheet("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic");
echo $this->headLink();
echo $this->headTitle('Добавить новый товар');
?>
<h1>Добавить новый товар</h1>
<div class="add">
	<form action="" method="post" enctype="multipart/form-data">	
		<input type="text" name="title" placeholder="Название модели" minlength="5" maxlength="30">
		Категория:<select name="category">
			<option name="mobile">mobile</option>
			<option name="notebook">notebook</option>
			<option name="tablet">tablet</option>
		</select>
		<textarea name="description" placeholder="Краткое описание" minlength="10" required></textarea>
		<textarea name="feature" placeholder="Характеристики" minlength="10" required></textarea>
		<input type="text" name="price" placeholder="Цена" minlength="2" maxlength="6" required>
		<input type="hidden" name="img" value="">
		<input type="file" name="image">
		<input type="submit">
		<a href="<?php echo $this->url('home',array('action'=>'administration'));?>">Администрация</a>
	</form>
</div>