<?php

$this->headLink(array('rel' => 'stylesheet', 'href' => '/css/adminstyle.css'))
     ->appendStylesheet("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic");
echo $this->headLink();
echo $this->headTitle('Администрация');
?>
<h1>Заказы:</h1>
<table>
	<tr>
		<th>Код</th>
		<th>Имя Фамилия</th>
		<th>Телефон</th>
		<th>Email</th>
		<th>Код товара</th>
		<th>Кол-во товара</th>
		<th>Сумма заказа</th>
		<th></th>
	</tr>
	<?php 
	//Цикл выводит все сделанные заказы.
	foreach ($order as $orders) { ?>
		<tr>
			<td><?php echo $orders->id;?></td>
			<td><?php echo $orders->name;?></td>
			<td><?php echo $orders->phone;?></td>
			<td><?php echo $orders->email;?></td>
			<td><?php echo $orders->storeid;?></td>
			<td><?php echo $orders->count;?></td>
			<td><?php echo $orders->totalprice;?></td>
			<!--Ссылка которая передает id методу deleteOrders ,который удаляет товар по id. -->
			<td><a href="<?php echo $this->url('home', array('action'=>'deleteOrders','id'=>$orders->id))?>">Удалить</a></td>
		</tr>
	<?php } ?>
</table>
<h1>Товары:</h1>
<a href="<?php echo $this->url('home',array('action'=>'add'));?>">Добавить новый товар</a>
<p><a href="<?php echo $this->url('home');?>">Назад в магазин</a></p>
<table>
	<tr>
		<th>Код</th>
		<th>Наименование</th>
		<th></th>
		<th>Цена</th>
		<th></th>
		<th></th>
	</tr>
		<?php 
        //Цикл выводит все товары из бд.
		foreach ($goods as $goodsAll) { ?>
		<tr>
			<td><?php echo $goodsAll->id;?></td>
			<td><img src="/img/<?php echo $goodsAll->img;?>"></td>
			<td><?php echo $goodsAll->title;?></td>
			<td><?php echo $goodsAll->price;?></td>
			<!--Ссылка которая передает id методу deleteGoods ,который удаляет товар по id. -->
			<td><a href="<?php echo $this->url('home', array('action'=>'deleteGoods','id'=>$goodsAll->id))?>">Удалить</a></td>
			<!--Ссылка которая передает id методу edit ,который изменяет данные  товара по id. -->
			<td><a href="<?php echo $this->url('home', array('action'=>'edit','id'=>$goodsAll->id))?>">Изменить</a></td>
		</tr>
		<?php } ?>
</table>