<?
$sum=0;
$this->headLink(array('rel' => 'stylesheet', 'href' => '/css/basket.css'))
     ->appendStylesheet("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic")
     ->prependStylesheet("/css/menu.css");
echo $this->headLink();
echo $this->headTitle('Корзина');
?>
<div class="header">
			<div id="nav-pictures">
				<img src="/img/menu1.png" id="icon-menu">
			</div>
			<div class="nav-menu">
				<ul id="categories">
					<li><a href="<?php echo $this->url('home');?>">Главная</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'mobiles'));?>">Телефоны</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'notebook'));?>">Ноутбуки</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'tablet'));?>">Планшеты</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'basket'));?>">Корзина</a></li>
				</ul>
			</div>
	</div>
<div class="content"></div>
<div class="baskettable">
	<form method="post" action="<? echo $this->url('home',array('action'=>'basket'));?>">
		<table>
			<tr>
				<th>Код</th>
				<th>Наименование</th>
				<th></th>
				<th>Кол-во</th>
				<th>Цена</th>
				<th>Удалить</th>
			</tr>
		<?php 
		//Выводим через цикл все выбранные товары.
		foreach ($basket as $goods) { ?>
			<tr>
				<td><?php echo $goods->id;?></td>
				<td><img src="/img/<?php echo $goods->img;?>"></td>
				<td><?php echo $goods->title;?></td>
				<? 
				//В цикле пробегаемся по Сессии.
				foreach($session as $id => $countgoods){
					//Если id товара совпадает с ключем в Сессии выводим кол-во товара.
					if($goods->id==$id){
						/*
						Создаем два input ,в один ложим id товара которое пользователь
						хочет пересчитать ,в другой новое количество.
						*/
						echo "<td>
						<input type=hidden name=id[] value=$id>
						<input type=text maxlength=2 name=count[] value=$countgoods>
						</td>";
						//В переменную $quantity плюсуем общее количество товара.
						$quantity+=$countgoods;
						//Умножаем количество товара на цену.
						echo "<td>".$goods->price * $countgoods."</td>";
						//В переменную $sum плюсуем общую сумму заказа.
						$sum+=$goods->price* $countgoods;
					}
					}?>
				<td><a href="<?php echo $this->url('home',array('action'=>'delete','id'=>$goods->id));?>">Удалить</a></td>
			</tr>
		<?php } ?>
		</table>
</div>
<div class="basketdesctiption">
	<h3>Количество:<?php echo $quantity; ?></h3>
	<h3>Общая сумма:<?php echo $sum;?></h3>
	<input type="submit" value="Пересчитать">
	</form>
	<a href="<?php echo $this->url('home',array('action'=>'order'));?>"><button>Оформить заказ</button></a>
</div>
</div>
<div class="footer">
	<h2>Демо Сайт</h2>
</div>

