<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/editstyle.css">
<h1>Изменить</h1>
<div class="add">
	<form action="" method="post" enctype="multipart/form-data">	
		<!--Изменяет данные товара по id пришедшие со скрытого input-->
		<input type="hidden" name="id" value="<?php echo $id;?>">
		<input type="text" name="title" placeholder="Название модели" minlength="5" maxlength="30" required>
		Категория:<select name="category">
			<option name="mobile">mobile</option>
			<option name="notebook">notebook</option>
			<option name="tablet">tablet</option>
		</select>
		<input type="text" name="price" placeholder="Цена" minlength="2" maxlength="5" required>
		<input type="hidden" name="img" value="">
		<input type="file" name="image">
		<input type="submit">
		<a href="<?php echo $this->url('home',array('action'=>'administration'));?>">Администрация</a>
	</form>
</div>