<?
$this->headLink(array('rel' => 'stylesheet', 'href' => '/css/indexstyle.css'))
     ->appendStylesheet("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic");
echo $this->headLink();
echo $this->headTitle('Главная страница');
$this->headScript()->appendFile('/js/showmenu.js');
$this->headScript()->appendFile('/js/jquery-2.1.4.min.js');
$this->headScript()->appendFile('/js/slide.js');;
echo $this->headScript();
?>
<div class="header">
			<div id="nav-pictures">
				<img src="img/menu1.png" id="icon-menu" onclick="show()">
				<p>Категории</p>
				<hr>
			</div>
			<div class="nav-menu">
				<ul id="categories">
					<li><a href="<?php echo $this->url('home',array('action'=>'mobiles'));?>">Телефоны</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'notebook'));?>">Ноутбуки</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'tablet'));?>">Планшеты</a></li>
				</ul>
				<h1 id="welcome">Добро пожаловать!</h1>
			</div>
			<hr>
	</div>
	<div id="content">
		<div class="slide slide-active">
			<img src="/img/Ipad.png" class="pictures">
			<div class="description"></div>
		</div>
		<div class="slide">
			<img src="/img/notebook.png" class="pictures">
			<div class="description"></div>
		</div>

		<div class="slide">
			<img src="/img/iphone.png" class="pictures">
			<div class="description"></div>
		</div>
	</div>
	<div class="slide-nav">
			<img  class="arrow-prev" src="/img/arrow-prev.png">
			<img  class= "arrow-next" src="/img/arrow-next.png">
		</div>
	<div class="footer">
		<h2>Демо Сайт</h2>
	</div>