<?
$sum=0;
$this->headLink(array('rel' => 'stylesheet', 'href' => '/css/infostyle.css'))
     ->appendStylesheet("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic")
     ->prependStylesheet("/css/menu.css");
echo $this->headLink();
echo $this->headTitle('Инофрмация о товаре');
?>

<div class="header">
			<div id="nav-pictures">
				<img src="/img/menu1.png" id="icon-menu" onclick="show()">
			</div>
			<div class="nav-menu">
				<ul id="categories">
					<li><a href="<?php echo $this->url('home');?>">Главная</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'mobiles'));?>">Телефоны</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'notebook'));?>">Ноутбуки</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'tablet'));?>">Планшеты</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'basket'));?>">Корзина</a></li>
				</ul>
			</div>
	</div>
<div class="content">
<?php 
//Выводит через цикл полную информацию о товаре
foreach ($good as $goods) { ?>
	<div class="pictures">
		<div class="title"><?php echo $goods->title;?></div>
		<div class="price"><?php echo $goods->price;?>$</div>
		<hr>
		<div class="image"><img src="/img/<?php echo $goods->img;?>"></div>
		<hr>
		<div class="basket">
		<!--Делаем ссылку которая передаем id методу savebasket,который сохрянет id товара в Сессию. -->
			<a href="<?php echo $this->url('home',array('action'=>'savebasket','id'=>$goods->id));?>"><button>Купить</button></a>
		</div>
	</div>
	<div class="description">
	<b>Описание:</b>
	<p><?php echo $goods->description;?></p>
	</div>
	<div class="features">
	<b>Характеристики:</b>
	<pre>
	<p>
<?php echo nl2br($goods->feature);?> </p>
	</pre>
	</div>
<?php } ?>
</div>