<?
$this->headLink(array('rel' => 'stylesheet', 'href' => '/css/category.css'))
     ->appendStylesheet("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic")
     ->prependStylesheet("/css/menu.css");
echo $this->headLink();
echo $this->headTitle('Мобильные');
?>
<div class="header">
			<div id="nav-pictures">
				<img src="img/menu1.png" id="icon-menu" onclick="show()">
			</div>
			<div class="nav-menu">
				<ul id="categories">
					<li><a href="<?php echo $this->url('home');?>">Главная</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'mobiles'));?>">Телефоны</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'notebook'));?>">Ноутбуки</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'tablet'));?>">Планшеты</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'basket'));?>">Корзина</a></li>
				</ul>
			</div>
	</div>
<div class="content">
<?php 
//Выводим через цикл все товары с категорией mobile
foreach ($mobiles as $mobile) { ?>
	<div class="mobiles">
		<!--Делаем ссылку которая передаем id методу info,тот в свою очередь выводит полную информацию о товаре. -->
		<div class="title"><a href="<?php echo $this->url('home',array('action'=>'info','id'=>$mobile->id));?>"><?php echo $mobile->title;?></a></div>
		<div class="price"><?php echo $mobile->price;?>$</div>
		<hr>
		<div class="pictures"><a href="<?php echo $this->url('home',array('action'=>'info','id'=>$mobile->id));?>"><img src="/img/<?php echo $mobile->img;?>" class="catimg"></a></div>
		<hr>
		<div class="description">
			<div class="feature">
			<?php echo $mobile->description;?>
			</div>
			<div class="basket">
			<!--Делаем ссылку которая передаем id методу savebasket,который сохрянет id товара в Сессию. -->
			<a href="<?php echo $this->url('home',array('action'=>'savebasket','id'=>$mobile->id));?>"><button>Купить</button></a>
			</div>
		</div>
	</div>
<?php } ?>
</div>
<div class="footer">
	<h2>Демо Сайт</h2>
</div>
