<?
$this->headLink(array('rel' => 'stylesheet', 'href' => '/css/category.css'))
     ->appendStylesheet("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic")
     ->prependStylesheet("/css/menu.css");
echo $this->headLink();
echo $this->headTitle('Ноутбуки');
?>
<style type="text/css">
	.mobiles{
		border-top:2px solid #FFCC33;
		border-bottom:2px solid #FFCC33;
	}
	button{
		border:2px solid #FFCC33;
		background-color: #FFCC33;
		transition:0.3s;
	}
	button:hover{
		background-color: #FF9900;
		border:2px solid #FF9900;
	}
</style>
</head>
<body>
<div class="header">
			<div id="nav-pictures">
				<img src="img/menu1.png" id="icon-menu" onclick="show()">
			</div>
			<div class="nav-menu">
				<ul id="categories">
					<li><a href="<?php echo $this->url('home');?>">Главная</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'mobiles'));?>">Телефоны</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'notebook'));?>">Ноутбуки</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'tablet'));?>">Планшеты</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'basket'));?>">Корзина</a></li>
				</ul>
			</div>
	</div>
<div class="content">
<?php 
//Выводим через цикл все товары с категорией notebook
foreach ($notebook as $notebooks) { ?>
	<div class="mobiles">
		<!--Делаем ссылку которая передаем id методу info,тот в свою очередь выводит полную информацию о товаре. -->
		<div class="title"><a href="<?php echo $this->url('home',array('action'=>'info','id'=>$notebooks->id));?>"><?php echo $notebooks->title;?></a></div>
		<div class="price"><?php echo $notebooks->price;?>$</div>
		<hr>
		<!--Делаем ссылку которая передаем id методу info,тот в свою очередь выводит полную информацию о товаре. -->
		<div class="pictures"><a href="<?php echo $this->url('home',array('action'=>'info','id'=>$notebooks->id));?>"><img src="/img/<?php echo $notebooks->img;?>" class="catimg"></a></div>
		<hr>
		<div class="description">
			<div class="feature"><?php echo $notebooks->description;?></div>			
			<div class="basket">
			<!--Делаем ссылку которая передаем id методу savebasket,который сохрянет id товара в Сессию. -->
			<a href="<?php echo $this->url('home',array('action'=>'savebasket','id'=>$notebooks->id));?>"><button>Купить</button></a>
			</div>
		</div>
	</div>
<?php } ?>
</div>
<div class="footer">
	<h2>Демо Сайт</h2>
</div>