<?
$this->headLink(array('rel' => 'stylesheet', 'href' => '/css/order.css'))
     ->appendStylesheet("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic")
     ->prependStylesheet("/css/menu.css");
echo $this->headLink();
echo $this->headTitle('Заказ');
?>
<div class="header">
	<div id="nav-pictures">
		<img src="/img/menu1.png" id="icon-menu">
		<div class="nav-menu">
				<ul id="categories">
					<li><a href="<?php echo $this->url('home');?>">Главная</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'mobiles'));?>">Телефоны</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'notebook'));?>">Ноутбуки</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'tablet'));?>">Планшеты</a></li>
					<li><a href="<?php echo $this->url('home',array('action'=>'basket'));?>">Корзина</a></li>
				</ul>
		</div>
	</div>
</div>
<div class="content">
	<div class="basketgoods">
		<table>
			<tr>
				<th>Наименование</th>
				<th></th>
				<th>Кол-во</th>
				<th>Цена</th>
			</tr>
			<?php 
			//Выводим через цикл все выбранные товары.
			foreach ($order as $goods) { ?>
			<tr>
				<td><img src="/img/<?php echo $goods->img;?>"></td>
				<td><?php echo $goods->title;?></td>
				<? 
				//В цикле пробегаемся по Сессии.
				foreach($session as $id => $countgoods){
					//Если id товара совпадает с ключем в Сессии выводим кол-во товара.
					if($goods->id==$id){
						//Выводит количество товара
						echo "<td>$countgoods</td>";
						//Умножаем количество товара на цену.
						echo "<td>".$goods->price * $countgoods."</td>";
						//В переменную $sum плюсуем общую сумму заказа.
						$sum+=$goods->price* $countgoods;
						//В переменную $idgoods помещяем все id помещенные в Сессию.
						$idgoods=implode(array_keys($session),",");
						//В переменную $count помещяем все количество товара.
						$count=implode($session,",");
					}
					}?>
			</tr>
		<?php } ?>
		</table>
		<div class="totalprice">
			<h3 style="text-align:center;"><?php echo "Итого: ".$sum." $";?></h3>
		</div>
	</div>
	<div class="orders">
		<h3 style="text-align: center;font-family:'PT Sans', sans-serif;">Форма Заказа</h3>
		<hr style="width:150px;">
		<form action="" method="post">
			<input type="text" name="name" placeholder="Имя и Фамилия" minlength="10" maxlength="30" required></br>
			<input type="text" name="phone" placeholder="Моб.тел:(380501112223)"  maxlength="12" required></br>
			<input type="text" name="email" placeholder="Email" minlength="6" maxlength="30" required></br>
			<!--В input storeid помещаем все выбранные товары-->
			<input type="hidden" name="storeid" value="<?php echo $idgoods;?>">
			<!--В input count помещаем количество выбранного товара-->
			<input type="hidden" name="count" value="<?php echo $count;?>">
			<!--В input totalprice помещаем общую сумму заказа-->
			<input type="hidden" name="totalprice" value="<?php echo $sum;?>">
			<input type="submit" value="Отправить">
			<a href="<?php echo $this->url('home',array('action'=>'basket'));?>">Назад в корзину</a>
		</form>
		<p><? echo $errorphone;?></p>
		<p><? echo $erromail;?></p>
	</div>
	<div class="clearfix"></div>
</div>
<div class="footer">
	<h2>Демо Сайт</h2>
</div>


