<?php 
echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
</head>
    <body style="background-color:#f2f2f2">
    
        <div class="container">
            <?php echo $this->content; ?>
        </div> <!-- /container -->
    </body>
</html>
